@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-blue-100 text-gray-900;
}

/* Force always-visible custom scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  height: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.6);
  border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(100, 100, 100, 0.6) transparent;
}
